/* .apiContainer {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  margin: 0 auto
} */

.apiImage {
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  }


/* .apiContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apiImage {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
} */