.about-container {
  display: grid;
}

.about-header {
  display: flex;
  align-items: center;
  margin-bottom: 12vh;
}

.about-header::before {
  content: '';
  flex: 1;
  height: 3px;
  background-color: var(--primary-color);
  margin-right: 3%;
} 

.about-name {
  font-family: 'StaraMed';
  font-size: 2.4rem;
  line-height: 2.6rem;
  width: min-content;
  margin: 0 0 4px 0;
}

.about-title {
  font-family: 'StaraMed';
  margin-top: 0;
  margin-bottom: 8px;
}

.photo-wrapper {
  margin-bottom: 8px;
}

.profile-photo {
  display: block;
  width: 100%;
  height: auto;
}

.skills-header {
    border-bottom: 2px solid var(--primary-color);
}

/*------------------------- ABOUT ------------------------- */
@media (min-width: 375px) {
    .about-name {
      font-size: clamp(3.2rem, 8vw, 9rem);
      line-height: clamp(1.0, 1.05, 1.1);
    }

    .about-title {
      /* font-size: clamp(1.6rem, 3vw, 3.2rem); */
      font-size: clamp(1.6rem, 3vw, 2.8rem);
      line-height: clamp(1.0, 1.05, 1.1);
    }
  }

/*------------------------- ABOUT ------------------------- */
/* @media (min-width: 768px) {
  .photo-wrapper {
    position: relative;  
    width: 100%;
    height: 600px;      
    overflow: hidden;
  }

  .profile-photo {
    object-fit: cover;
    object-position: 50% 30%;
  }
} */

/* @media (min-width: 768px) {
  #about {
    display: flex;
    flex-direction: column;
    gap: 40px;  
  }

  .about-content {
    min-height: 77vh;
  }

  .role-header {
    font-family: "StaraExtBd";
    font-size: 1.6rem;
    text-align: revert;
  }

  .skills-container {
    width: 70%;
  }
} */

/*------------------------- ABOUT ------------------------- */
/* @media (min-width: 1024px) {
  .about-content {
      min-height: 70vh;
  }
} */
/*------------------------- ABOUT ------------------------- */
@media (min-width: 1440px) {
 /* .about-name {
    width: max-content;
    margin-left: auto;
  } */

  /* .about-content {
    min-height: 65vh;
  } */

  .about-title {
      letter-spacing: 0.04em;
  }

  /* .about-text {
   flex-direction: row;
  } */

  /* .about-text {
    width: 45%;
  } */

    /* .about-text p {
    width: 40%;
  } */

  /* .about-paragraphs{
    justify-content: space-evenly;
    gap: 4rem;
  } */

  /* .role-header {
    font-size: 2.250rem;
    font-size: 1.8rem;
    width: max-content;
  } */

  /* .skills-container {
    width: 40%;
  } */
}