.about-container {
  display: grid;
}

.about-header {
  display: flex;
  align-items: center;
  margin-bottom: 13vh;
}

.about-header::before {
  content: '';
  flex: 1;
  height: 3px;
  background-color: #010101;
  margin-right: 3%;
} 

.about-name {
  /* font-size: clamp(3rem, 7.9vw, 8.5rem); */
  /* line-height: clamp(2.8rem, 7vw, 7.5rem); */
  font-size: clamp(3.2rem, 8vw, 10rem);
  line-height: clamp(3.2rem, 7.5vw, 9.5rem);
  font-family: 'StaraMed';
  width: min-content;
  margin: 0 0 8px 0;
}

.about-title {
  font-family: 'StaraMed';
  /* font-size: 24px; */
  font-size: clamp(1.6rem, 1.3rem + 0.6vw, 2.25rem);
  /* line-height: clamp(1.8rem, 1.6rem + 0.7vw, 2.6rem); */
  margin-top: 0;
  margin-bottom: 8px;
}

.photo-wrapper {
  margin-bottom: 8px;
  mix-blend-mode: multiply;
}

.profile-photo {
    width: 100%;
    height: auto;
}

/* .about-text p:nth-child(-n + 3) {
    padding-bottom: 1.5em;
} */

.skills-header {
    text-transform: uppercase;
    border-bottom: 2px solid #010101;
}

.skills-header + p {
    text-transform: uppercase;
    text-align: justify;
    /* line-height: 1.4rem; */
}

/*------------------------- ABOUT ------------------------- */

/* @media (min-width: 768px) {
  #about {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .about-content {
    min-height: 77vh;
  }

  .role-header {
    font-family: "StaraExtBd";
    font-size: 1.6rem;
    text-align: revert;
  }

  .skills-container {
    width: 70%;
  }
} */

/*------------------------- ABOUT ------------------------- */
/* @media (min-width: 1024px) {
  .about-content {
      min-height: 70vh;
  }
} */
/*------------------------- ABOUT ------------------------- */
@media (min-width: 1440px) {
 /* .about-name {
    width: max-content;
    margin-left: auto;
  } */

  /* .about-content {
    min-height: 65vh;
  } */

  /* .about-text {
   flex-direction: row;
  } */

  /* .about-text {
    width: 45%;
  } */

    /* .about-text p {
    width: 40%;
  } */

  /* .about-paragraphs{
    justify-content: space-evenly;
    gap: 4rem;
  } */

  /* .role-header {
    font-size: 2.250rem;
    font-size: 1.8rem;
    width: max-content;
  } */

  /* .skills-container {
    width: 40%;
  } */
}