.about-container {
  display: grid;
}

.about-header {
  display: flex;
  align-items: center;
  margin-bottom: 12vh;
}

.about-header::before {
  content: '';
  flex: 1;
  height: 3px;
  background-color: var(--primary-color);
  margin-right: 3%;
} 

.about-name {
  font-family: 'StaraMed';
  font-size: 2.4rem;
  line-height: 2.6rem;
  width: min-content;
  margin: 0 0 4px 0;
}

.about-title {
  font-family: 'StaraMed';
  margin-top: 0;
  margin-bottom: 8px;
}

.photo-wrapper {
  margin-bottom: 8px;
  /* mix-blend-mode: multiply; */
}

.profile-photo {
    width: 100%;
    height: auto;
}

/* .about-text p:nth-child(-n + 3) {
    padding-bottom: 1.5em;
} */

.skills-header {
    border-bottom: 2px solid var(--primary-color);
}

/* .skills-header + p {
    text-transform: uppercase;
    text-align: justify;
} */


/*------------------------- ABOUT ------------------------- */
@media (min-width: 375px) {
    .about-name {
      font-size: clamp(3.2rem, 8vw, 10rem);
      line-height: clamp(3.2rem, 7.5vw, 9.5rem);
      margin: 0 0 8px 0;
    }

    .about-title {
      font-size: clamp(1.6rem, 1.3rem + 0.6vw, 2.25rem);
      line-height: clamp(1.9rem, 1.6rem + 0.7vw, 2.7rem);
    }
  }

/*------------------------- ABOUT ------------------------- */

/* @media (min-width: 768px) {
  #about {
    display: flex;
    flex-direction: column;
    gap: 40px;  
  }

  .about-content {
    min-height: 77vh;
  }

  .role-header {
    font-family: "StaraExtBd";
    font-size: 1.6rem;
    text-align: revert;
  }

  .skills-container {
    width: 70%;
  }
} */

/*------------------------- ABOUT ------------------------- */
/* @media (min-width: 1024px) {
  .about-content {
      min-height: 70vh;
  }
} */
/*------------------------- ABOUT ------------------------- */
@media (min-width: 1440px) {
 /* .about-name {
    width: max-content;
    margin-left: auto;
  } */

  /* .about-content {
    min-height: 65vh;
  } */

  /* .about-text {
   flex-direction: row;
  } */

  /* .about-text {
    width: 45%;
  } */

    /* .about-text p {
    width: 40%;
  } */

  /* .about-paragraphs{
    justify-content: space-evenly;
    gap: 4rem;
  } */

  /* .role-header {
    font-size: 2.250rem;
    font-size: 1.8rem;
    width: max-content;
  } */

  /* .skills-container {
    width: 40%;
  } */
}