#contact {
  display: grid;
  grid-template-rows: auto 1fr; 
  gap: 48px;
  height: 77vh;
}

.contact-header {
  grid-row: 1 / 2;
  width: 100%;              
  border-bottom: 2px solid #010101;  /* Underline */
  padding-bottom: 10px;       /* Space between text and border */
  /* font-size: clamp(2.75rem, 11vw, 15rem);
  line-height: clamp(3rem, 11vw, 14rem); */
  /* font-size: clamp(2.75rem, 9vw, 9rem);
  line-height: clamp(2.4rem, 8vw, 8rem); */
  margin: 0;
  }

.form-grid {  
  display: grid;
  /* grid-template-rows: 1fr 1fr 3fr 4fr; */
    grid-template-rows: 2fr 2fr 4fr 4fr;
  align-content: space-between;
  grid-row: 2 / 3;
}

input, textarea {
  background: none;
  padding-left: 0;
  border: none;
  color: #757575;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none; /* Removes the outline entirely */
  background-color: transparent; /* Removes background */
  color: #757575;
}

.input-group {
  display: flex;
  flex-direction: column;
  /* height: 64vw;  */
}


#message {
  width: 100%;
  height: 50%;
}

.submit-button {
  color : inherit;
  flex-direction: row;
  gap: 16px;
  align-items: baseline;
  background: none;
  border: none;
  grid-row: 4;
  padding: 0;
    /* align-items: center; */
}

.submit-button {
  display: flex;
  place-self: start;
  align-items: center;
  font-weight: 600;
}

.arrow {
  height: 14px;
  transition: transform 0.2s ease-out;
}

.submit-button:hover .arrow {
  transform: translateX(10px); 
}

/*------------------------- 768 Media Query ------------------------- */

  @media (min-width: 768px) {

    #contact {
      height: 84vh;
    }

    .contact-header {
      /* font-size: 7.3rem;
      line-height: 6.5rem; */
      padding-top: 48px;
      text-transform: uppercase;
    }

    .form-grid .input-group:nth-child(3) {
      width: 64%; 
    }
    
    
    .submit-button {
      cursor: pointer;
    }
  }
  
/*------------------------- 1024 Media Query ------------------------- */

  @media (min-width: 1024px) {

    #contact {
      height: 92vh;
      max-width: 2100px;
    }

    .form-grid {
      grid-template-columns: 1fr 1fr 1.25fr;
      grid-template-rows: 1fr 1fr;
    }

    .form-grid .input-group:nth-child(3) {
      width:70%; 
    }
    
    .contact-info {
      grid-column: 1 / 2;
      grid-row: 2 / 2; /* Aligns with the first column */
      place-self: end start;
    }
    
    .social-icon-container {
      grid-column: 2 / 3 ; /* Aligns with the second column */
      grid-row : 2 / 3;
    }
    
    .submit-button {
      grid-column: 3 / 4; /* Aligns with the third column */
      grid-row: 2 / 3;
      place-self: end start;
      cursor: pointer;
      z-index: 2;
    }

    .input-group {
      width: 50%;
    }
  }
  