#contact {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 48px;
}

.contact-header {
  grid-row: 1 / 2;
  width: 100%;       
  position: relative;      
  margin-bottom: 0; 
}

.contact-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #010101;
  margin-top: 21px;
}

.form-grid {  
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  align-content: space-between;
  grid-row: 2 / 3;
}

input, textarea {
  background: none;
  padding-left: 0;
  border: none;
  color: #757575;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none; /* Removes the outline entirely */
  background-color: transparent; /* Removes background */
  color: #757575;
}

.input-group {
  display: flex;
  flex-direction: column;
}

#message {
  width: 100%;
  height: 70%;
}

.submit-button {
  color : inherit;
  flex-direction: row;
  gap: 16px;
  align-items: baseline;
  background: none;
  border: none;
  grid-row: 4;
  padding: 0;
    /* align-items: center; */
}

.submit-button {
  display: flex;
  place-self: start;
  align-items: center;
  font-weight: 600;
}

.arrow {
  height: 14px;
  transition: transform 0.2s ease-out;
}

.submit-button:hover .arrow {
  transform: translateX(10px); 
}

/*------------------------- CONTACT ------------------------- */
@media (min-width: 375px) {
  .contact-header::after {
    margin-top: 26px;
  }
}

/*------------------------- CONTACT ------------------------- */

  @media (min-width: 768px) {
    /* #contact {
      height: 84vh;
    } */

    /* .contact-header {
      font-size: 7.3rem;
      line-height: 6.5rem; 
      padding-top: 48px;
    } */

    .form-grid .input-group:nth-child(3) {
      width: 64%; 
    }
    
    
    .submit-button {
      cursor: pointer;
    }
  }
  
/*------------------------- CONTACT ------------------------- */

  @media (min-width: 1024px) {
    /* #contact {
      min-height: 89vh;
      min-height: 89dvh;
    } */

    .form-grid {
      grid-template-columns: 1fr 1fr 1.25fr;
      grid-template-rows: 1fr auto;
    }

    .form-grid .input-group:nth-child(3) {
      width: 100%; 
    }
    
    .contact-info {
      grid-column: 1 / 2;
      grid-row: 2 / 2; /* Aligns with the first column */
      place-self: end start;
    }
    
    .social-icon-container {
      grid-column: 2 / 3 ; /* Aligns with the second column */
      grid-row : 2 / 3;
    }
    
    .submit-button {
      grid-column: 3 / 4; /* Aligns with the third column */
      grid-row: 2 / 3;
      place-self: end start;
      cursor: pointer;
      z-index: 2;
      /* padding: 7px; */
    }

    .input-group {
      width: 90%;
    }

    #message {
      height: 90%;
    }
  }

  /*------------------------- CONTACT ------------------------- */
  
  /* @media (min-width: 1440px) {
      label, input, textarea, button, p {
      font-size: 1.125em;
    }
  } */