#footer {
  display: grid;
  gap: 16px;
  margin-bottom: 59px;
}

  .social-icon-container {
    display: flex;
    flex-direction: row;
    place-self: end start;
    gap: 32px;
  }

  .social-icon-container .social-icon {
    width: 28px;
    /* height: 1.5em; */
  }

  /*------------------------- 768 Media Query ------------------------- */

  @media (min-width: 768px) { 
    #footer {
      margin-bottom: 0;
    }
  }

/*------------------------- 1024 Media Query ------------------------- */

  @media (min-width: 1024px) { 
    #footer {
      display: grid;
      gap: 0;
      grid-template-columns: 1fr 1fr 1.25fr;
      grid-auto-flow: row; /* Explicitly manage row layout in absolute context */
      position: absolute;
      left: 0;
      right: 0;
      /* bottom: 0; */
      z-index: 1;
    }
  }