#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82vh;
  margin-bottom: 12vh;
}

.logo {
    width: 32px;
    height: 32px;
    z-index: 1001;
    fill: #000000;
}

.home-header {
  animation: slideUp .8s ease forwards;
  opacity: 0; 
  align-self: end;
  margin: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 

/*------------------------- HOME ------------------------- */ 

@media (min-width: 768px) {
  #home {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .home-header{
      margin: revert;
  }

  .first-half {
    display: block;
    text-align: right;
    }
  
  .second-half {
    display: block;
    text-align: right;
  }
}

/*------------------------- HOME ------------------------- */ 

@media (min-width: 1024px) {
  #home {
    height: 91vh;
  }

  .first-half {
    display: block;
    text-align: left;
  }
  
  .second-half {
    display: block;
    text-align: right;
  }
}

/*------------------------- HOME ------------------------- */ 

@media (min-width: 1440px) {
  #home {
    height: 95vh;
  }
}