/* Fallback value */
/* :root {
  --vh: 1vh; 
} */

/* @supports (height: 100dvh) {
  :root {
    --vh: 1dvh; 
  }
} */

/*------------------------- HOME ------------------------- */ 

/* #home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
    margin: 0 auto;
    height: calc(var(--vh, 1vh)* 100 - 60px);

} */
       /* max-width: 1200px; */

#home {
  display: flex;
  height: 80vh;
  /* margin-bottom: 10vh; */
  /* height: calc(var(--vh, 1vh)* 100 - 60px); */
}

.homeHeader {
  animation: slideUp .8s ease forwards;
  opacity: 0; 
  align-self: end;
  margin: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 

/*------------------------- /HOME ------------------------- */ 

@media (min-width: 768px) {

  #home {
    height: 89vh;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .first-half {
    display: block;
    text-align: right;
    }
  
  .second-half {
    display: block;
    text-align: right;
  }
}

/*------------------------- /HOME ------------------------- */ 

@media (min-width: 1024px) {

  #home {
    height: 94vh;
  }

  .first-half {
    display: block;
    text-align: left;
    }
  
  .second-half {
    display: block;
    text-align: right;
  }
}

/*------------------------- /HOME ------------------------- */ 

@media (min-width: 1440px) {

  #home {
    height: 100vh;
  }

}