@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); */

:root {
  --primary-color: #010101;
  --secondary-color: #f1f1f1;
  --primary-hover: rgba(1, 1, 1, 0.5);
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/stara-medium.woff2') format('woff2'),
       url('/fonts/stara-medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/stara-semibold.woff2') format('woff2'),
       url('/fonts/stara-semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600; 
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/stara-bold.woff2') format('woff2'),
       url('/fonts/stara-bold.woff') format('woff');
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/stara-extrabold.woff2') format('woff2'),
       url('/fonts/stara-extrabold.woff') format('woff');   
  font-style: normal;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Stara';
  src: url('/fonts/stara-black.woff2') format('woff2'),
       url('/fonts/stara-black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

body {
  /* padding: 0 20px 15px 20px; */
  max-width: 2560px;
  margin: 0 auto;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stara', 'Quattrocento Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: inherit;
}

h1 {
  font-size: clamp(2.8rem, 6vw, 7rem);
  line-height: clamp(2.8rem, 6vw, 7rem);
}

p {
  font-family: inherit;
  font-size: clamp(1.125rem, 1rem + 0.5vw, 1.375rem);
  line-height: clamp(1.7rem, 1.5rem + 0.6vw, 2.2rem);
  color: inherit;
  margin: 0;
  margin-bottom: clamp(1.25rem, 2vw, 2rem);
}

a {
  color: inherit;
}

label {
  font-weight: 500;
}

button {
  all: unset;            /* removes ALL default button styles */
  cursor: pointer;
}

.contact-footer-container {
    display: grid;
    grid-template-rows: 1fr auto; 
    min-height: 100vh;  /* fallback */
    min-height: 100dvh;
}

@media (max-width: 820px) {
  section, footer {
    margin: 0 20px 0px 20px;
  }
}

@media (max-width: 430px) { 
  section:nth-child(3) {
    padding-top: 20px;
  }
}

@media (max-width: 374px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

  /*------------------------- INDEX ------------------------- */
@media (min-width: 768px) {
  body {
    padding: 0 40px 30px 40px;
  }

  .contact-footer-container {
      min-height: 89vh;  /* fallback */
      min-height: 89dvh;
  }
}

  /*------------------------- INDEX ------------------------- */
@media (min-width: 1024px) {  
  body {
    padding: 0 80px 40px 80px;
  }

  .contact-footer-container {      
    /* align-items: end; */
    position: relative;          
  }

  .contact-footer-container > *:last-child {
    grid-row: 1; /* Place the last child (Footer) in the same grid row as Contact */
    align-self: end; /* Align Footer to the baseline of Contact */
  }
}

  @media (min-width: 1440px) {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}

  @media (min-width: 2560px) {
  body {
    max-width: 2560px;
    margin: 0 auto;
    overflow-x: hidden; /* prevents horizontal scrollbars */
  }
}