.no-scroll {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  background-color : #010101;
  width: 100vw;
  height: 7vh;
  box-sizing: border-box;
  /* height: 22vh; */ /*testsing purposes */
}

@media (max-width: 430px) { 
  .navbar {
    padding: 0 20px;
  }
}
   
.navbar li a {
  /* font-family: 'Stara', 'Quattrocento Sans', sans-serif; */
  font-weight: 400;
}

.logo {
  width: 32px;  
  z-index: 1001;
  fill: var(--primary-color);
  flex: 0 0 auto;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1001; 
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  width: 36px;
  padding: 12px 0 12px 12px;
  z-index: 1001;
}

.hamburger-icon span {
  border-bottom: 2.5px solid var(--secondary-color);
}

/*------------------------- DRAWER ------------------------- */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(14px);  
  -webkit-backdrop-filter: blur(12px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1000;
}

.drawer.open {
  opacity: 1;
  pointer-events: all;
  /* filter: invert(1); */
}

.drawer-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 100vh;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.drawer-content li a {
  font-family: 'Stara', 'Quattrocento Sans', sans-serif;
  font-weight: 800;
  font-size: clamp(3rem, 7vw, 8.5rem);
  text-transform: uppercase;
  text-decoration: none;
}

/*------------------------- NAVBAR ------------------------- */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: clamp(16px, 5vw, 60px);
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: clamp(16px, 8vw, 6em);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-list li a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    position: relative; 
  }

  .navbar-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 1.6px;
    background-color: var(--primary-color);
    transition: width 0.15s ease-in-out; 
  }

  .navbar-list a:hover::after {
    width: 100%; 
  }

  .hamburger-icon span {
    border-bottom: 2.5px solidvar(--primary-color);
  }
}