.no-scroll {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  background-color : #010101;
  width: 100vw;
  height: 7vh;
  box-sizing: border-box;
  /* height: 22vh; */ /*testsing purposes */
}

@media (max-width: 430px) { 
  .navbar {
    padding: 0 20px;
  }
}
   
.navbar li a {
  font-family: 'StaraMed', 'Quattrocento Sans', sans-serif;
}

.logo {
  width: 32px;  
  height: 32px;
  z-index: 1001;
  fill: #f1f1f1;
}

/* @media (max-width: 768px) {
  .logo {
    display: none;
  }
} */

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1001; 
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
  width: 36px;
  padding: 12px 0 12px 12px;
  z-index: 1001;
}

.hamburger-icon span {
  border-bottom: 2.5px solid #f1f1f1;
}

/*------------------------- DRAWER ------------------------- */

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(14px);  
  -webkit-backdrop-filter: blur(12px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1000;
}

.drawer.open {
  opacity: 1;
  pointer-events: all;
}

.drawer-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100vh;
  margin: 0;
  padding: 0 19px;
  list-style-type: none;
}

.drawer-content li a {
  text-decoration: none;
  font-size: clamp(3rem, 7vw, 8.5rem);
  font-family: 'StaraExtBd', 'Quattrocento Sans', sans-serif;
  text-transform: uppercase;
}

/*------------------------- NAVBAR ------------------------- */

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color : #f1f1f1;
    position: sticky;
    top: 0;
    bottom: unset;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 7.5em;
    padding: 0;
    margin: 0;
    position: static; /* Reset position for desktop view */
    box-shadow: none; 
    list-style-type: none;
  }
  
  .navbar-list li a {
    font-size: 22px;
    text-decoration: none;
    position: relative; 
}

  .navbar-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 1.6px;
    background-color: #2B2B2B;
    transition: width 0.15s ease-in-out; 
  }

  .navbar-list a:hover::after {
    width: 100%; 
  }

  .logo {
    fill: #2B2B2B;
  }

  .hamburger-icon span {
    border-bottom: 2.5px solid #2B2B2B;
  }
}

/*------------------------- NAVBAR ------------------------- */

@media (min-width: 1440px) {
  .navbar-list {
      gap: 10.85em;
  }
}