/* Container wrapping all accordion items */

#projects{
  height: 100vh;
  /* padding-top: 80px;  Match your navbar height 
  margin-top: -80px;  Negative margin to avoid excessive spacing  */
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 600px;
}

.accordion-container {
  width: 100%;
}

.accordion-item {
  border-bottom: 2px solid;
}

/* Header: clickable area with plus/minus icon on the right */
.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: inherit;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* When isOpen is true, the header will turn grey */
.accordion-header[aria-expanded="true"] .accordion-title  {
  color: #7c7c7c;
}

.accordion-title {
  transition: color 0.19s ease;
  font-family: "StaraBold";
  text-align: left;
  font-size: 24px;
  padding: 16px 0;
  width: 100%;
  margin: 0;

  /* font-size: clamp(1.15rem, 2.2vw, 1.75rem);
  line-height: clamp(1rem, 4.25vw, 2.75rem); */

  font-size: clamp(1.4rem, 2.2vw, 1.75rem);
  line-height: clamp(2rem, 4.25vw, 2.75rem);
}

/* Icon on the right side of the header */
.accordion-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

/* Rotate the icon 180° when open (optional for effect) */
.accordion-icon.open {
  transform: rotate(180deg);
}

/* The content area that should expand/collapse */
.accordion-content {
  max-height: 0;
  max-width: 600px;
  opacity: 0;
  overflow: hidden;
  padding: 0 16px;
  pointer-events: none;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

/* When an item is open, we set a larger max-height to reveal content */
.accordion-content.open {
  max-height: 500px;
  padding: 0 16px;
  opacity: 1;
  pointer-events: auto;
}

/* Paragraph spacing inside content */
.accordion-content p {
  font-size: 1.125em;
  line-height: 22px;
}

.accordion-content > button {
  background-color: transparent;
  background: none;
  border: none; 
  padding: 0;
}

.project-icon {
  /* width: 2em;
  height: 1.25em; */
  width: 2.3em;
  height: 1.5em;
  padding: 20px 0 10px 0;
  fill: 010101;
}

.project-icon:hover {
  fill: #7c7c7c;
}

@media (min-width: 768px) {
  .accordion-title {
    padding: 18px 0;
  }
}

@media (min-width: 1200px) {
  .accordion-container {
    width: 50%;
  }

  .accordion-content > button:hover,
  .accordion-title:hover {
    color: #7c7c7c;
  }
}