#projects {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.accordion-container {
  width: 100%;
}

.accordion-item {
  border-bottom: 2px solid;
}

.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: inherit;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* When isOpen is true, the header will turn grey */
.accordion-header[aria-expanded="true"] .accordion-title  {
  color: var(--primary-hover);
}

.accordion-title {
  transition: color .2s ease-in-out;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: left;
  padding: 16px 0;
  width: 100%;
  margin: 0;
}

.accordion-icon {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.accordion-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-color);
  transform: translate(-50%, -50%);
  transition: all .3s ease;
  border-radius: 1px;
}

.accordion-icon .horizontal-line {
  width: 100%;
  height: 2px;
}

.accordion-icon .vertical-line {
  width: 2px;
  height: 100%;
  opacity: 1;
  top: 0;
  transform: translateX(-50%);
}

.accordion-icon.open .vertical-line {
  height: 0;
  opacity: 0;
}

.accordion-content {
  max-height: 0;
  max-width: 600px;
  opacity: 0;
  overflow: hidden;
  padding: 0 16px;
  pointer-events: none;
  transition:
    max-height .3s ease-in-out,
    opacity .3s ease-in-out;
}

/* When an item is open, we set a larger max-height to reveal content */
.accordion-content.open {
  max-height: 500px;
  padding: 0 16px;
  opacity: 1;
  pointer-events: auto;
}

.accordion-content > button {
  background-color: transparent;
  background: none;
  border: none; 
  padding: 0;
}

.icon-container {
  display: flex;
  flex-direction: row;
  place-self: end start;
  gap: 24px;
  margin-bottom: 1.125rem;
}

.icon-container .social-icon {
  width: 24px;
  fill: var(--primary-color);
  transition: fill 0.2s ease-in-out;
}

.social-icon:hover {
  fill: var(--primary-hover);
}

/*------------------------- PROJECTS ------------------------- */
@media (min-width: 375px) {
  .accordion-title {
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    line-height: clamp(1.0, 1.05, 1.1);
  }
}

/*------------------------- PROJECTS ------------------------- */
@media (min-width: 768px) {
  .accordion-title {
    padding: 18px 0;
  }
}

/*------------------------- PROJECTS ------------------------- */
@media (min-width: 1440px) {
  .accordion-container {
    width: 50%;
  }

  .accordion-content > button:hover,
  .accordion-title:hover {
    color: var(--primary-hover);
    /* Prevent sticky hover on touch screens */
  }

  .accordion-icon {
    width: 16px;
    height: 16px;
  }
}