#projects {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* min-height: 82vh; */
}

.accordion-container {
  width: 100%;
}

.accordion-item {
  border-bottom: 2px solid;
}

.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: inherit;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* When isOpen is true, the header will turn grey */
.accordion-header[aria-expanded="true"] .accordion-title  {
  color: #7c7c7c;
}

.accordion-title {
  font-size: 1.2rem;
  line-height: 1.7rem;
  transition: color 0.19s ease;
  font-family: "StaraBold";
  text-align: left;
  padding: 16px 0;
  width: 100%;
  margin: 0;
}

.accordion-icon {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.accordion-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #010101;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
  border-radius: 1px;
}

.accordion-icon .horizontal-line {
  width: 100%;
  height: 2px;
}

.accordion-icon .vertical-line {
  width: 2px;
  height: 100%;
  opacity: 1;
  top: 0;
  transform: translateX(-50%);
}

.accordion-icon.open .vertical-line {
  height: 0;
  opacity: 0;
}

.accordion-content {
  max-height: 0;
  max-width: 600px;
  opacity: 0;
  overflow: hidden;
  padding: 0 16px;
  pointer-events: none;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

/* When an item is open, we set a larger max-height to reveal content */
.accordion-content.open {
  max-height: 500px;
  padding: 0 16px;
  opacity: 1;
  pointer-events: auto;
}

.accordion-content > button {
  background-color: transparent;
  background: none;
  border: none; 
  padding: 0;
}

.project-icon {
  width: 2.3em;
  height: 1.5em;
  padding: 20px 0 10px 0;
  fill: 010101;
}

.project-icon:hover {
  fill: #7c7c7c;
}

/*------------------------- PROJECTS ------------------------- */
@media (min-width: 375px) {
  .accordion-title {
    font-size: clamp(1.4rem, 2.2vw, 1.75rem);
    line-height: clamp(2rem, 4.25vw, 2.75rem);
  }
}

/*------------------------- PROJECTS ------------------------- */

@media (min-width: 768px) {
  .accordion-title {
    padding: 18px 0;
  }
}

/*------------------------- PROJECTS ------------------------- */

@media (min-width: 1440px) {
  .accordion-container {
    width: 50%;
  }

  .accordion-content > button:hover,
  .accordion-title:hover {
    color: #7c7c7c;
    /* Prevent sticky hover on touch screens */
  }

  .accordion-icon {
    width: 16px;
    height: 16px;
  }
}