/*------------------------- HOME ------------------------- */ 
#home {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.homeHeader {
  font-size: 6rem;
  text-align: right;
  line-height: 5.5rem;
}
/*------------------------- /HOME ------------------------- */ 
