#footer {
  display: grid;
  gap: 16px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 1 / 2;
    grid-row: 2 / 2; 
  }

  .social-icon-container {
    display: flex;
    flex-direction: row;
    place-self: end start;
    gap: 24px;
    height: 20px;
  }

  @media (min-width: 768px) { 

    #footer {
      grid-template-columns: 1fr 1fr 1.25fr;
    }
  }

  @media (min-width: 1024px) { 

    #footer {
      display: grid;
      gap: 0;
      grid-auto-flow: row; /* Explicitly manage row layout in absolute context */
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }




  