#footer {
  display: grid;
  gap: 16px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 1 / 2;
    grid-row: 2 / 2; 
  }


  .social-icon-container {
    display: flex;
    flex-direction: row;
    place-self: end start;
    gap: 24px;
    height: 20px;
  }

  @media (min-width: 768px) { 

    #footer {
      grid-template-columns: 1fr 1fr 1.25fr;
      /* grid-template-columns: .75fr .75fr 1.25fr; */
    }
  }

  @media (min-width: 1024px) { 

    #footer {
      gap: 0;
    }
  }
