/*------------------------- HOME ------------------------- */ 
#home {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 96vh;
}

.homeHeader {
  font-size: 13vw;
  line-height: 11vw;
  text-align: right;
  margin: 0;
  animation: slideUp .8s ease forwards;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*------------------------- /HOME ------------------------- */ 

@media (min-width: 768px) {
  #home {
    height: 95vh;
  }

  .homeHeader {
    font-size: 6.3rem;
    text-align: right;
    line-height: 5.3rem;
  }
}