.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 20px;
  z-index: 1000; /* Ensure the navBar is on top of other content */
}

.logo {
  width: 25px;
}

.navbarList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items: center;
  list-style-type: none;
  margin: 0;
  position: absolute; /* Position the menu absolutely */
  top: 60px; /* Adjust based on your header height */
  right: 10px; /* Adjust based on your padding */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: add shadow for better visibility */
  padding: 10px; /* Add padding for spacing */
  z-index: 999; /* Ensure the dropdown menu is above other content */
}

.navbarList li {
  margin: 10px 0; /* Adjust spacing between items */
}

.navbarList a {
  text-decoration: none; /* Remove underline */
  position: relative; /* Ensures the link container is relatively positioned */
}

.hamburger {
  display: block;
  width: 24px;
  cursor: pointer;
}

  .navbarList {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .navbarList.open {
    display: flex;
  }


/*------------------------- 768 Media Query ------------------------- */
@media (min-width: 768px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .navbarList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    position: static; /* Reset position for desktop view */
    box-shadow: none; /* Remove shadow for desktop view */
  }

  .navbarList li {
    margin-right: 60px; /* Adjust spacing between items */
  }

  .navbarList li:last-child {
    margin-right: 0;
  }

  .navbarList a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px; /* line dinstance under link */
    width: 0%;
    height: 1px;
    background-color: #2B2B2B;
    transition: width 0.3s ease-in-out; 
  }

  .navbarList a:hover::after {
    width: 100%; /* Expand width on hover */
  }
}
/*------------------------- /768 Media Query ------------------------- */